services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=pocketuser
      - POSTGRES_PASSWORD=pocketpass
      - POSTGRES_DB=pocketmaster
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
